

    /* ------------------------------ */
    .logo img{
      display: flex;
      width: 200px;
      align-items: center;
      justify-content: center;
    }

    .navbar a {
      position: relative;
      font-size: 18px;
      color: #222222;
      font-weight: 500;
      margin-left: 40px;
      text-decoration: none;
    }



    .navbar a::before{

      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 0;
      height: 2px;
      background: #222222;
      transition: .3s;
    }


    .navbar a:hover::before{
      width: 100%;

    }
    /* ------------------------------ */
